[2018-02-03 23:43] AvNuc opened #2 "Test"

[2018-02-04 20:14] #2 closed, assigned to nobody

[2018-02-06 14:14] JimVanEeden opened #3 "Can't import module"
I'm making a simple React app with Webpack to test the Web3 package, but I can't seem to import it into the project. The following error appears when importing:

[code]

Line that fails: `import Web3 from 'aion-web3';`

Importing with require() doesn't work either. I've installed the package with `yarn add aion-web3` and tried as well with `npm install aion-web3 --save`.

[2018-02-06 16:12] aion-6368726973 commented on #3
@JimVanEeden Thanks for your feed back. We are looking into it.

[2018-02-08 14:10] nuco-chris opened #4 "Modify web3 bundle to include node environment"
As indicated by some users, the ``aion_web3`` package currently looks for legacy nodejs environments.

## References
https://forum.aion.network/t/web3api-setup-node-nodejs/152

[2018-02-08 23:16] pfuhrmann opened #5 "NPM issues"
Hi, there are few issues with the NPM packages. ~But more importantly, why you do not include `package-lock.json` file to have stable dependencies between developers?~ Disregard this as I was referring to the packaged version in the tar file. Also, I would recommend using Yarn which is faster and handles dependencies better.

`npm WARN deprecated minimatch@2.0.10: Please update to minimatch 3.0.2

[2018-02-12 22:42] 4math2379 commented on #4
Nice tanks for the informations

[2018-02-14 10:18] SauceDev opened #6 "Error Initialising Web3, RPC?"
Getting hit with an error trying to get the api working. Error seems to point out the RPC either not running or something is preventing execution.

![image](https://user-images.githubusercontent.com/36176517/36198805-bd2642d6-11cb-11e8-9c19-416708f8d139.png)

[2018-02-14 10:32] SauceDev commented on #6
Nevermind. Im an idiot.

[2018-02-14 10:32] #6 closed, assigned to nobody

[2018-02-20 21:00] apalissery commented on #5
We are looking into it.

[2018-02-20 21:03] apalissery commented on #3
@JimVanEeden Please check out the latest release for both aion_web3 and the aion binary (should be sent by email)?

[2018-02-21 08:36] JimVanEeden commented on #3
Using v0.0.3 from the npm registry I can succesfully import the module. Thank you, I'm closing the issue.

[2018-02-21 08:36] #3 closed, assigned to nobody

[2018-03-01 22:36] ali-sharif opened #7 "format validation issue"
can be reproduced by running the txn-generator script from qa.

/home/nuco/alisharif/nuco/aion-qa/testbench/txn-generator/node_modules/aion-web3/lib/web3/formatters.js:267
    throw new Error('invalid address');
    ^

Error: invalid address
    at inputAddressFormatter (/home/nuco/alisharif/nuco/aion-qa/testbench/txn-generator/node_modules/aion-web3/lib/web3/formatters.js:267:11)
    at /home/nuc

[2018-03-06 18:21] ali-sharif opened #8 "Remove non-supported web3 functions"
Ex.
web3.eth.getUncle

[2018-03-06 19:09] ali-sharif commented on #7
debugged by @aion-anakha: has to do with use of isStrictAddress() to do address validation

[2018-06-11 19:41] qoire opened #10 "Aion API web3.js 1.0 Migration"
# **Introduction**
We currently are in need to migrate our web3 offering from an outdated (and soon to be obsolete version) over to a web3.js 1.0 offering. Web3.js 1.0 is considered to be not-yet released (in beta), but in the community, it has quickly become the standard web3 to use.
# **Current Situation**
Current code base is located at: [https://github.com/aionnetwork/aion_web3](https://github

[2018-06-13 15:34] vs77bb commented on #10
@rhlsthrm You've been approved! Thanks for your interest and excited to see your progress. WIP PR's help, and the Aion team's Gitter is provided above should you have questions 🙂

[2018-06-14 20:40] qoire commented on #10
@rhlsthrm Congrats you've been approved for this (aionnetwork/aion_web3#10) bounty! Let's use Gitter as the main point of contact, let me know if you run into any issues regarding our changes to web3.

To get started, please fork this repository and create a 1.0 branch, its best to pull all dependencies that need to change into the repository itself, please keep track of your progress via Github I

[2018-06-15 11:59] arunsybex opened #11 "How to create a new account with password"
I tried with this " personal.newAccount() "

[2018-06-15 16:30] rhlsthrm commented on #10
Still working on this issue, will have initial pushes soon.

[2018-06-17 08:49] #11 closed, assigned to nobody

[2018-06-18 20:15] vs77bb commented on #10
@rhlsthrm Thanks for the update!

[2018-06-21 16:17] rhlsthrm commented on #10
Still working on the issue.

[2018-06-22 14:49] vs77bb commented on #10
Thanks for the feedback @rhlsthrm - I'll snooze Gitcoin Bot here for a bit!

[2018-06-26 20:08] qoire commented on #10
@rhlsthrm don't hesitate to ping me with any questions that come up on your end

[2018-07-03 14:43] kzeine commented on #10
Hey @rhlsthrm, can you please provide us with a progress update and show us work completed so far? The team is available on Gitter if you have any questions, concerns or difficulties and they would happy to assist you. We have interest from the community in this bounty, so kindly let us know your thoughts if you wish to continue working on this bounty. Thanks!

[2018-07-04 17:24] rhlsthrm commented on #10
Hi team, I'm sorry to say that the scope of this project is a little more than what I had anticipated for myself. My full-time job is heating up a lot, so there isn't much time I can dedicate on the side to this implementation, and I'm afraid I won't get this done by the deadline. I don't want to hold up the team, so if you can find anyone else to take this over, please let me know.

[2018-07-05 13:35] spm32 commented on #10
Hi @rhlsthrm sorry to hear that, please in the future try to let the teams know as soon as possible if you're not able to complete a bounty. Are you able to share the work you've done so far?

[2018-07-05 22:48] cryptomental commented on #10
Hi! If possible I would also like to see what has been done so far ;)

[2018-07-05 22:57] cryptomental commented on #10
In the meantime I will go through the whitepaper and look around at the codebase.

I just found https://github.com/aionnetwork/aion_qa/tree/master/Web3 , perhaps these test may serve as a proof of the web3 1.0 port after migration?

Are those tests enough to be ported/executed against web3 1.0 and when passing prove the bounty was fulfilled?

[2018-07-09 15:27] qoire commented on #10
@cryptomental Hey! Yes that's our web3 test-suite for test for basic functionality and our changes. Let me know if any of the tests are not working for you. Also, the test includes some mining related functionality, those are _not_ to be considered as part of the web3 update.

Additionally, since some of the changes relate to ABI encoding, the tests [here](https://github.com/aionnetwork/aion_web3/

[2018-07-10 07:52] cryptomental commented on #10
Hi @qoire thank you a lot for confirming this. I am finishing off a few other tasks and will start this as soon as they all completed. This will definitely happen this week. In the meantime I will be reading AION documentation, test suite and install the prerequisites.

[2018-07-10 13:46] qoire commented on #10
@cryptomental awesome, if you need any help setting up a testing environment, head over to our gitter channel.

[2018-07-11 16:53] tcrowe commented on #10
Hey guys :wave: if you're changing it to be like Ethereum's web3 1.0 what would be your approach for `web3.bzz` (swarm) and `web3.shh` (whisper)? ~~How do we know what parts of web3 1.0 api apply to Aion's JSON-RPC server?~~

[2018-07-11 17:54] tcrowe commented on #10
Based on the advice above I extracted the Java member names marked with `RpcMsg` and this was the result:

| java member | js member |
|---|---|
| `web3_clientVersion` | `web3.clientVersion` |
| `web3_sha3` | `web3.sha3` |
| `net_version` | `net.version` |
| `net_peerCount` | `net.peerCount` |
| `net_listening` | `net.listening` |
| `eth_protocolVersion` | `eth.protocolVersion` |
| `eth_syncing` |

[2018-07-11 19:50] qoire commented on #10
@tcrowe Hey! Thanks for taking the time to provide the list. We have no present desire to support either swam or whisper at the moment. Presumably those pieces of the API would be removed/disabled.

[2018-07-13 02:23] tcrowe commented on #10
I'd like to propose using [eslint](https://eslint.org) (attached) and [prettier](https://prettier.io). 👍👎❓

<img width="686" alt="screen shot 2018-07-12 at 8 15 52 pm" src="https://user-images.githubusercontent.com/1634015/42668982-9a058c80-8610-11e8-8b4c-6e383c91e154.png">

Reasoning:
+ I've enabled `eslint --fix` so it automatically fixes goofy code problems. The formatting, plugins, and communi

[2018-07-13 16:56] qoire commented on #10
@tcrowe LGTM

[2018-07-13 19:05] cryptomental commented on #10
Hi @tcrowe I was about to start but have just noticed that you are already on it. Good luck with the bounty!

[2018-07-17 22:51] tcrowe commented on #10
Progress is coming along well. I'm working with team members in the chat to get the specifics of what hash function to use where. 👍🏼

[2018-07-21 21:59] tcrowe commented on #10
<img width="255" alt="screen shot 2018-07-21 at 3 57 01 pm" src="https://user-images.githubusercontent.com/1634015/43040344-1d2714c2-8d31-11e8-93a3-6d6366af464c.png">

I've got the unit tests actually making local rpc calls to a test server.

Next step is fixing some of the addresses and running the integration tests. Some chat members gave some ideas for the solo containers I can use.

[2018-07-21 22:01] tcrowe commented on #10
Users accessing Bzz or Shh will just get an error message like `aion doesn't implement bzz` unless you guys have a different idea.

[2018-07-23 17:21] centrys-george-platon commented on #10
What is the progress so far on it? :-) Should we anticipate a release soon? Good work so far!!

[2018-07-23 17:26] tcrowe commented on #10
Hi @centrys-george-platon :wave:

I'm expecting to release before week end.

[2018-07-24 05:10] Arulkp opened #12 "Cannot connect accounts in web3.js v1.0.0"
I try to connect privatenet using web3.min.js (web3@1.0.0 version). It can't connect with accounts but when using web3@0.20.0 version connect successfully.i want execute send sign transaction and generate privatekey using web3..how do this

[2018-07-24 22:58] tcrowe commented on #12
Until someone else answers specifically I can refer you to some projects I am also digging through to find answers:

+ aion wallet site https://testwallet.aion.network/
  * open console
  * `web3`
+ a similar deployment https://wallet.aionpool.online/
  * open console
  * `web3`
+ source https://github.com/aionnetwork/aion_wallet

The best we can do now is go through the source until the next vers

[2018-07-26 03:51] tcrowe commented on #10
Recovery of account public key from signature is probably not possible with ed25519. Methods that rely on that will be unavailable. Just a heads up!

[2018-07-26 20:48] tcrowe commented on #10
False alarm about address recovery. `web3.accounts.recover` @qoire told me about the scheme used in the Java code base and it worked in JS.
<img width="185" alt="screen shot 2018-07-26 at 2 47 17 pm" src="https://user-images.githubusercontent.com/1634015/43287686-45f86d8c-9115-11e8-89b8-e8d0e7097a08.png">

[2018-07-26 21:49] qoire commented on #10
@tcrowe glad I could help, if you have any other questions don't hesitate to ask

[2018-07-27 13:33] centrys-george-platon commented on #10
@tcrowe sounds awesome! We are very eager to use this in our current product. If you need help with the testing & feedback, we can help immediately.

[2018-07-27 15:14] tcrowe commented on #10
@centrys-george-platon Thank you for that offer and I will surely take you up on it.

Today I will labor to get a release out on my github and ping you.

[2018-07-28 05:09] centrys-cristian commented on #10
@tcrowe, from what I can see in the java implementation, the scheme would require that the public key is prepended to the actual signature, so you cannot recover the public key/address from JUST the signature (similar to what ecrecover does), the web3 implementation will have to join both pieces of information. the kernel can only verify the signature if the public key is  known.

[2018-07-28 05:25] tcrowe commented on #10
@centrys-cristian That's exactly what we ended up doing in the JS! Thanks

[2018-07-28 05:32] tcrowe commented on #10
@centrys-george-platon @centrys-cristian @qoire

I've got a few more things to fix before it's ready for a PR but it will be completed soon for sure.

In the meantime I wanted to provide a version you can build and test.

[code]

Here is an example you can run but replace `require('aion-web3')` with `require('./src/index')`. https://github.com/tcrowe/aion_web3/tree/aion-web3-v1-transition#connect-

[2018-07-28 21:18] tcrowe commented on #10
@ToJen I found there was a reason ABI was not cooperating with complex types. https://github.com/ethereum/web3.js/blob/1.0/packages/web3-eth-abi/src/index.js#L115

They hadn't implemented it yet. 😳

We will have it though. Something like `address[][3][6]` awkward multidimensional array will be possible for us. We can give to Ethereum team if they want it.

[2018-07-30 13:21] ToJen commented on #10
A 3D array sounds interesting. I think they should be happy to see your solution to it.

[2018-07-30 13:28] qoire commented on #10
@tcrowe Thanks, going to have a look today. Really eager to try this out as well.

[2018-07-30 14:51] qoire commented on #10
@tcrowe After some internal discussions, we think the best way to test is to parse complex inputs through a solidity smart contract itself.

This is something similar to what we're doing in types.sol:
https://github.com/aionnetwork/aion_web3/blob/master/test/types.sol

However it would need to be extended with the more complex types we're looking for.

[2018-07-30 16:37] tcrowe commented on #10
@qoire Okay I'll follow up with you about that soon because I'm not sure what that means yet.

In the meantime I've come up with a solidity type parser which turns `uint32[][3][]` into:

[code]

So, even if such a data type and dimensions is impossible to work with we can at least do some analysis and validation. The user can receive feedback like `hey the VM can't use that kind of type because __

[2018-07-31 05:11] tcrowe commented on #10
This is the VM setup I'm currently using:

vagrant-aion: debian vagrant box compiling aion from source and running in the background
https://github.com/tcrowe/vagrant-aion

ansible-role-aion: provisions the above box
https://github.com/tcrowe/ansible-role-aion

Encoding & decoding aion contract ABI coming up shortly.

[2018-08-01 05:07] tcrowe commented on #10
<img width="420" alt="screen shot 2018-07-31 at 11 02 40 pm" src="https://user-images.githubusercontent.com/1634015/43502061-5a6229ca-9548-11e8-9d51-ccb1f544e19e.png">

Integration tests running on my local node. Blue lines are mostly access denided. Some I will need better parameters. You're welcome to correct or add any cases here: https://github.com/tcrowe/aion_web3/tree/aion-web3-v1-transition

[2018-08-04 23:34] Thoughtscript commented on #10
Hi! Just checking to see if there's any work on this that still needs doing! Thanks!

[2018-08-04 23:48] tcrowe commented on #10
Hi @Thoughtscript :wave: We're getting the last few bytes in order. 😁

[2018-08-07 12:42] georgeplaton7 commented on #10
Awesome! Let us know how it's going!

[2018-08-07 17:10] tcrowe commented on #10
@centrys-george-platon We found some differences in how Ethereum and Aion serialize transactions. (RLP) While I am eager to complete the binary interface must be 100% exact. I'm sure you'll understand.

Beyond that it's going well. The unit tests run, coverage is high, and integration tests are working. While I was waiting to hear back about the binary I increased documentation. No good tools for

[2018-08-14 16:14] tcrowe commented on #10
An update on this issue is that we are doing some team testing and I'm waiting to get some time-bandwidth from the organization.

[2018-08-25 20:34] collabcoindev commented on #12
I can't access any of those wallets above, it is either CORS or nodes are down, I am unsure.
Tried mainnet, conquest and local node.

[2018-09-23 18:49] collabcoindev commented on #5
Any news on this?

[2018-09-25 03:51] iamyulong opened #14 "Need documentation on how to use the release"
The `aion-web3` npm package is outdated. Need instruction, or an updated README, on how to use the release with nodejs, from another project.

[2018-09-25 03:57] iamyulong opened #15 "7 vulnerabilities in dependences"
[code]

[2018-09-27 15:14] aion-kelvin opened #16 "Update utils, etc to use Aion terminology"
Since forking from eth web3, there's a bunch of code that still references Eth-specific terminology for cryptocurrency quantities; i.e. wei.  Need to update to use Aion terminology: https://github.com/aionnetwork/aion/wiki/Aion-Terminology

[2018-10-10 04:39] tcrowe commented on #10
I think this can be closed out. If there are other issues I'm happy to help resolve. Just tag me!

[2018-10-10 04:42] tcrowe commented on #12
You can try again now:

[code]

Create accounts:
https://gist.github.com/tcrowe/943e4f082abfe2133cd9a15f220e5fc3

Compile solidity:
https://gist.github.com/tcrowe/07c64aa6fe29bd3c7b8157e2c731ac5e

Sign and raw transaction:
https://gist.github.com/tcrowe/b47a63e5d815b394ce49df810be7b9cf

Recommending to close out this issue

Also join the chat @Arulkp @collabcoindev 👍🏼 https://gitter.im/aionnetwork

[2018-10-10 04:45] tcrowe commented on #14
Hey @yulongaion :wave:

You can now install aion-web3 via github branch until it's published.

[code]

Ethereum web3 docs for how to use it: https://web3js.readthedocs.io/en/1.0/

---

## Aion Web3 examples

Create accounts:
https://gist.github.com/tcrowe/943e4f082abfe2133cd9a15f220e5fc3

Compile solidity:
https://gist.github.com/tcrowe/07c64aa6fe29bd3c7b8157e2c731ac5e

Sign and raw transaction:
h

[2018-10-10 04:47] tcrowe commented on #15
Usually these `npm audit` reports are not important but you have a few options:

+ Believe it's important and seek to get it resolved
+ Make the case to aion devs if it's important
+ Repeat `npm audit fix` until its fixed
+ Ignore it and make npm be quiet https://gist.github.com/tcrowe/19b2469838919535a7ba2b43d29c97f2

What do you want to do?

[2018-10-10 04:48] tcrowe commented on #16
The trade off is that people converting their app will need to change it. If you decide to change the terms anyway you can add to a "Converting from Ethereum Web3" document.

[2018-10-10 04:53] tcrowe opened #20 "./index.js might be from the old version"
Branch: v1.0

https://github.com/aionnetwork/aion_web3/blob/v1.0/index.js

This file doesn't work and might be an artifact from the old version.

Recommendation: `git rm ./index.js`

[2018-10-10 05:31] tcrowe opened #21 "Proposal: Babel + Lerna + Webpack combo"
Here's an idea to help the build process. Utilize babel and lerna to build a production output. It will be 1000% better than whatever the goofy gulp script was doing.

Please give your thoughts once you see my arguments and examples.

+ Faster builds
+ Easier to understand
+ Better utilization of lerna
+ Build a version that can go on `window.web3` for someone without webpack or to put on CDN

---

[2018-10-10 23:03] tcrowe commented on #21
Doing the above will likely fix another inexplicable problem we were having getting the build to work with modules we wanted. I wanted to include [safe-buffer](https://github.com/feross/safe-buffer) but the gulp build would not allow it.

https://github.com/aionnetwork/aion_web3/commit/0904fb7e18b3b27d38d6b0e0faff905c7a912b8d#diff-53fba2022d662120f492b028a7208088

[2018-10-10 23:05] tcrowe commented on #21
The webpack script above needs `babel-loader`.

[2018-10-11 20:38] #10 closed, assigned to nobody

[2018-10-12 16:07] satran004 opened #22 "Enhancement: Change no of parameters for eth.signTransaction from 1 to 2."
eth.signTransaction() in web3 1.0 takes two mandatory parameters - transaction , address. But the current implementation for eth.signTransaction is expecting 1 parameters.

**Existing code:**
new Method({
            name: 'signTransaction',
            call: 'eth_signTransaction',
            params: 1,
            inputFormatter: [formatter.inputTransactionFormatter]
}),

**Expected:**
var signT

[2018-10-12 16:16] qoire opened #23 "Verifying/Adding sign functionality"
There has been requests for local signing functionality. For next steps:

* Figure out what we are currently doing in terms of arbitrary message signing
* Create the spec of what arbitrary message signing _means_ in the context of the ecosystem (ex. do we do anything special like hash in a special header?)
* Implement

[2018-10-18 20:33] #22 closed, assigned to qoire

[2018-10-18 22:14] erik-iglikov opened #27 "Cannot pass address as a parameter into script"
Cannot pass address as a parameter into `console.js` script to connect to a node other than default localhost

[2018-10-19 14:06] erik-iglikov commented on #14
@mohnjatthews can you take a look at these `Aion Web3 examples` and estimate if we want to add those somewhere in our docs?

[2018-10-19 14:07] johnnymatthews commented on #16
Agreed. I'll make a start on that stuff.

[2018-10-19 14:30] johnnymatthews commented on #14
Will do 👍

[2018-10-19 17:45] #27 closed, assigned to erik-iglikov

[2018-10-19 17:48] erik-iglikov commented on #8
@ali-sharif Is this still an issue?

[2018-10-19 17:49] erik-iglikov commented on #7
@ali-sharif is this still an issue?

[2018-10-19 18:00] ali-sharif commented on #8
This was an open issue for the old web3 client. Probably not an issue for the 1.x.x version.

On the kernel side, all deviations from the JSON RPC spec are documented here: https://github.com/aionnetwork/aion/wiki/JSON-RPC-API-Docs

[2018-10-19 18:01] ali-sharif commented on #7
This was an issue with the old web3 client version. No longer relevant for the 1.x.x release.

[2018-10-19 18:03] erik-iglikov commented on #8
@ali-sharif ok, I see.
@aion-kelvin can you take a look at it when you get a chance to make sure that's fixed in 1.x.x version?

[2018-10-19 18:14] aion-kelvin commented on #8
We did remove some clearly non-supported stuff from v1.x.x after we merged in eth-web3's v1, but there's probably some that we missed.  I'll take a look and fix if I find any.

[2018-10-19 18:32] #7 closed, assigned to ali-sharif, erik-iglikov

[2018-10-25 20:14] erik-iglikov opened #29 "Console.js isn't supporting https based nodes"
We need to add support of `https` and make `console.js` more resilient and polymorphic.

[2018-10-25 20:36] erik-iglikov commented on #5
@collabcoindev sorry for a delayed response.
Can you confirm that you getting this error with the newest version of our web3 1.0+ ?

[2018-10-26 14:20] qoire opened #31 "We may be paying for more gas than necessary"
As pointed out by Sergiu, we might be padding our transactions by default with ``0x00``, which is treated as data input. This implicitly leads to an increase over the ambient base gas cost of ``21000``.

[2018-10-26 15:11] zzq229 opened #32 "Question about sign the transaction and send transaction"
I have been using aion-keystore ( https://www.npmjs.com/package/aion-keystore ) to sign transaction and web3.eth.sendSignedTransaction ( https://web3js.readthedocs.io/en/1.0/web3-eth.html#sendsignedtransaction ) to send raw transaction but I got error. Wonder if there is any example about a transaction object in Aion or there is any differences between Aion and Ethereum in sendSignedTransaction fu

[2018-10-26 18:01] erik-iglikov commented on #32
Hey @zzq229 what error did you get when you were trying to send a transaction?
Here's the documentation we have for transacting with web3 https://github.com/aionnetwork/aion_web3/blob/v1.0/docs/web3-eth.rst#sendsignedtransaction

[2018-10-26 18:04] erik-iglikov commented on #29
Fixed in this PR https://github.com/aionnetwork/aion_web3/pull/30

[2018-10-26 18:04] #29 closed, assigned to erik-iglikov

[2018-10-26 19:22] zzq229 commented on #32
I am using aion-keystore ( https://www.npmjs.com/package/aion-keystore ) to sign the transaction, and web3.eth.sendSignedTransaction ( https://github.com/aionnetwork/aion_web3/blob/v1.0/docs/web3-eth.rst#sendsignedtransaction ) to send raw transaction. The signature works fine but the Aion node is getting "`ERROR API  [XNIO-1 task-2]: <get-transaction-receipt msg=tx-info-null>"` error

[2018-10-26 19:31] zzq229 commented on #32
I have solved it individually, the error message in Aion node could be ignore and it takes a bit longer than Ethereum. I recommend to change the https://github.com/aionnetwork/aion_web3/blob/v1.0/docs/web3-eth.rst#sendsignedtransaction by using aion-keystore instead of ethereumjs-tx

[2018-10-26 21:34] erik-iglikov commented on #32
Thanks for suggestion @zzq229.
@aion-kelvin can you take a look at that?

[2018-10-27 17:37] luyzdeleon opened #33 "NPM Package update"
Hello,

When will version 1.0.0 of the NPM package will be uploaded? Version 0.0.3 was the latest published.

[2018-10-29 01:19] cybercoder2009 opened #34 "npm module aion-web3-core"
os: ubuntu
node version: 8.9.1
npm: 5.5.1
----------------------------------------------------------------------------
try
[code]
which gives
[code]

[2018-10-29 15:02] aion-kelvin commented on #16
fixed by https://github.com/aionnetwork/aion_web3/pull/19

[2018-10-29 15:02] #16 closed, assigned to erik-iglikov

[2018-10-29 19:30] aion-kelvin commented on #4
I believe this is resolved in the version 1.0 and above.  I don't have nodejs-legacy and it works fine for me.  Feel free to make another issue if this is still a problem.

[2018-10-29 19:30] #4 closed, assigned to erik-iglikov, aion-kelvin

[2018-10-31 02:06] aion-kelvin commented on #34
Thanks for the report.  We need to update aion-web3's dependencies to require that module.

In the meanwhile, a temporary workaround is to run `npm i lodash.padstart` in that directory to manually install the dependency.

[2018-10-31 17:57] qoire opened #36 "Ensure documentation for sub-packages are consistent"
For example:
* https://github.com/aionnetwork/aion_web3/blob/v1.0/packages/web3/README.md
points to the original web3, which is not consistent with our packages.

[2018-10-31 17:59] qoire commented on #14
https://web3js.readthedocs.io/en/1.0/, can we modify this to fit our needs?

[2018-10-31 18:02] qoire opened #37 "Enforce Bug Submission format"
We should either enforce or depict that users should submit the following for us to follow up properly on web3 issues:

https://github.com/aionnetwork/aion_web3/wiki/Bug-Report-Template

[2018-10-31 18:13] qoire opened #38 "Jenkins Integration"
Self explanatory, need two-way integration with jenkins to ensure everything is working

[2018-10-31 18:30] aion-kelvin opened #39 "Feature parity with aion-keystore package"
aion_web3 should subsume aion-keystore.  Once all features implemented, remove aion-keystore.

[2018-10-31 18:35] qoire commented on #38
https://medium.com/@elisegev/running-tests-and-creating-code-coverage-reports-for-react-nodejs-project-continuously-with-60312b6a2dd0

[2018-10-31 19:47] aion-kelvin commented on #33
For the moment, v1.0 can be accessed from this npm package: https://www.npmjs.com/package/aion-web3-v1.0

At the moment it is still prone to some last-minute changes.  By the end of Nov there will be an official announcement and release.  Stay tuned for details.

[2018-10-31 19:47] #33 closed, assigned to nobody

[2018-10-31 20:11] aion-kelvin opened #40 "Integ test for solidity compilation"
Integration test for solidity compilation that hits testnet

[2018-10-31 20:16] aion-kelvin commented on #5
I don't believe that this is an issue anymore with v1.0+ as I did `npm install aion-web3-v1.0` and it didn't find any vulnerabilities.  Our dependencies are a little messed up right now and I'm fixing them; will keep an eye out to see if there's any other vulnerabilities/deprecated stuff and fix if needed.

[2018-11-01 14:25] qoire commented on #39
``aion-keystore`` has implemented #23, need to integrate, and we can close both tickets

[2018-11-01 14:32] aion-kelvin commented on #5
In the branch v1.0, the two packages mentioned in the original post are of the recommended version (or higher).

[code]

So, I'm going to close this.  If there's another specific issue, please feel free to cut a new issue.

[2018-11-01 14:32] #5 closed, assigned to aion-kelvin

[2018-11-01 14:42] aion-kelvin commented on #15
Hey yulong,

I believe that this problem only occurs on the master branch, which actually contains outdated code and we're not developing or releasing from it anymore.  The branch "v1.0" is the branch that we're actually developing on.  Can you confirm if you see that message when you use "v1.0" branch?  If this problem is only on master I think we can close this issue.

For me when I run `npm ins

[2018-11-01 15:44] aion-kelvin commented on #14
From https://github.com/aionnetwork/aion_web3/issues/32:

- Need to update https://github.com/aionnetwork/aion_web3/blob/v1.0/docs/web3-eth.rst#sendsignedtransaction
- Actually, as part of v1.0.1 release, we want all aion-keystore functionality to be inside aion-web3.  So, the documentation should reflect that -- but it definitely shuoldn't reference ethereumjs-tx

[2018-11-01 15:46] aion-kelvin commented on #32
Hey @zzq229 thanks for the report!  Glad you eventually got it to work.

You mentioned:

If you could provide the JS code you used and the error you received, that would be very helpful.

As for updating the Github docs, we have an issue open for addressing the documentation for web3.  I've included your suggestion in that issue and we'll track it there.

[2018-11-01 16:11] aion-kelvin commented on #39
@qoire Do you have some example code of how to use aion-keystore to do #23 (sign arbitrary message)?  In its readme I see examples for how to sign a transaction, but I'm not sure if that's something different from 'arbitrary message.'

[2018-11-01 19:53] aion-kelvin opened #43 "Verify that transaction errors from kernel are surfaced in web3"
The kernel recently improved its error reporting; an error code is now given when a transaction fails, and the error code gives some info about why it failed.  Need to make sure that failed transactions invoked from Web3 receives this error and surfaces it to the user.

If it is not currently working, then as part of this issue, implement and test this functionality.

[2018-11-02 17:54] qoire commented on #37
https://github.com/aionnetwork/aion_web3/pull/42

[2018-11-02 17:54] #37 closed, assigned to arajasek

[2018-11-05 19:13] erik-iglikov opened #45 "Broken npm to GitHub link"
In the npm page for `aion-web3-core`(https://www.npmjs.com/package/aion-web3-core) the link goes to `https://github.com/aionnetwork/aion_web3/tree/master/packages/web3-core` which routes to 404 page

[2018-11-06 15:12] aion-kelvin commented on #15
Haven't heard back so assuming it's fixed. @yulongaion  Feel free to re-open / make a new issue / message me if there's further concerns/problems

[2018-11-06 15:12] #15 closed, assigned to aion-kelvin

[2018-11-06 15:18] aion-kelvin commented on #20
It is being used by the `browserify` npm script (in packages.json).  However looking at the actual file, it seems to refer to a file that doesn't even exist.  I'll look into it.

[2018-11-06 15:43] erik-iglikov commented on #12
This issue requires more detailed name

[2018-11-06 15:57] erik-iglikov opened #46 "Not able to fetch pending transactions of a specific address with `eth.getTransactionCount`"
**Web3 version**: 1.0.0 (latest clone, info from package.json)

**Command(s) triggering the issue**:
1. `eth.getTransactionCount("0xa0661d1ec255e885c6a2de292df7d6da98a96ce1071851238c79ba04d20204bf", "pending")`
Expected behavior: should give me the amount of pending txs
Actual behavior: gets stuck and gives `Error: Returned error: Execution error`

2. `eth.getTransactionCount("0xa0661d1ec255e885c6

[2018-11-07 15:58] #40 closed, assigned to aionWilliam

[2018-11-08 19:38] arajasek commented on #46
The kernel issue has been fixed, this can be closed upon the next release of the kernel.

[2018-11-12 16:02] aion-kelvin opened #48 "Add support for recoverTransaction"
web3.eth.accounts.recoverTransaction is not implemented

[2018-11-12 21:43] arajasek commented on #43
Looked into this, needed a small change (found in PR #49), following which the behaviour is correct.

[2018-11-12 21:43] #43 closed, assigned to arajasek

[2018-11-12 21:49] aion-kelvin commented on #31
One way to check this:

1) use web3's signTransaction and sendRawTransaction to send some aions on mastery (omit the `data` field) -- i.e. the same thing as what this test does: https://github.com/aionnetwork/aion_web3/blob/v1.0/integ_test/send_raw_transaction.js
2) use a debugger on the kernel to look at the transaction coming in and make sure there's no 0x00 in the `data` field
3) use mastery da

[2018-11-13 00:48] arajasek commented on #31
I took a close look at this, tried pretty much every combination of signing and sending transactions. Never got a data="0x00" field in any of my transactions.

I checked both the transaction content in the kernel itself, and what can be seen on the dashboard, it all seems fine.

[2018-11-13 00:48] #31 closed, assigned to arajasek, aion-kelvin

[2018-11-13 15:15] aion-kelvin commented on #32
Since I haven't heard back with extra details about the info, I'm going to close this issue.  If there's more info/problems feel free to open a new issue.

The documentation update will be tracked in https://github.com/aionnetwork/aion_web3/issues/14.  Here is a code example of how to sign and send transaction in case you're still having problems:

[code]

[2018-11-13 15:15] #32 closed, assigned to erik-iglikov, aion-kelvin

[2018-11-13 15:18] aion-kelvin commented on #39
blocked on pr https://github.com/aionnetwork/aion_web3/pull/50

[2018-11-13 16:38] aion-kelvin commented on #20
The file is used by `browserify` npm script.  However it had a bug in it.  PR for the fix https://github.com/aionnetwork/aion_web3/pull/52

[2018-11-13 19:52] aion-kelvin commented on #45
fixed in https://github.com/aionnetwork/aion_web3/commit/11a82eca94b85c781258850951d4bdb50d7e8ce8

I noticed the other subpackages have this problem so I'll update them too.

[2018-11-13 19:54] aion-kelvin commented on #45
THere's another issue open that's about addressing the overall consistency of the documentation in aion-web3 and all the subpackages -- https://github.com/aionnetwork/aion_web3/issues/36.  Since the specific example in this one is fixed ,I'm going to close this issue and just track this general problem in that issue.

[2018-11-13 19:54] #45 closed, assigned to aion-kelvin

[2018-11-13 20:11] #8 closed, assigned to erik-iglikov, aionWilliam, aion-kelvin

[2018-11-15 19:50] aion-kelvin commented on #36
fixed by https://github.com/aionnetwork/aion_web3/pull/54

[2018-11-15 19:50] #36 closed, assigned to nobody

[2018-11-15 21:05] #39 closed, assigned to nobody

[2018-11-15 21:05] qoire commented on #39
https://github.com/aionnetwork/aion_web3/commit/1cc70d25bc158e2f725896a8bc33d73234416df0

[2018-11-15 21:06] qoire commented on #38
Deferring: I would really prefer integration with TravisCI instead, easier for everyone.

[2018-11-15 21:06] qoire commented on #38
Blockers: Authentication from DevOps team

[2018-11-21 23:14] ghost opened #57 "Requesting keystore import export functions"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**: 1.1.0

**Command(s) triggering the issue**: Requesting more features

**API output**: N/A

This is a feature request
**Feature Request** : Requesting two functions to be added to aion-web3-eth-accounts

* decryptFromRlp : Help decrypt keystore fi

[2018-11-23 21:48] hamzahayat opened #58 "Sending a signed transaction when deoploying a contract does not return the transaction receipt."
**Description:**  While deploying a contract by grabbing the contract's `encodedABI` and passing it through as the `data` field in the `signTransaction` method, and then sending the signed transaction through `sendSignedTransaction(signedTransaction.rawTransaction)` an error is thrown (Error shown below).

**Code Snippet:**

[code]

**Web3 version**: 1.1.0

**Command(s) triggering the issue**:
[co

[2018-11-23 21:54] aion-kelvin commented on #57
Hi @kushptlapigarage,

Do either of these fit your needs?

- web3.eth.encrypt / decrypt
  - https://docs.aion.network/docs/web3-eth-accounts#section-encrypt
  - https://docs.aion.network/docs/web3-eth-accounts#section-decrypt
- web3.eth.wallet.encrypt / decrypt:
  - https://docs.aion.network/docs/web3-eth-accounts#section-wallet-encrypt
  - https://docs.aion.network/docs/web3-eth-accounts#section-

[2018-11-23 21:55] aion-kelvin commented on #14
https://docs.aion.network/docs/
https://learn.aion.network/v1.0/docs/deploy-a-smart-contract-using-web3

[2018-11-23 21:55] #14 closed, assigned to johnnymatthews, erik-iglikov, aion-kelvin

[2018-11-23 21:55] #23 closed, assigned to qoire

[2018-11-23 21:55] aion-kelvin commented on #34
fixed by #41

[2018-11-23 21:55] #34 closed, assigned to erik-iglikov, aion-kelvin

[2018-11-23 21:56] #20 closed, assigned to erik-iglikov, aion-kelvin

[2018-11-23 21:56] #46 closed, assigned to nobody

[2018-11-23 21:57] aion-kelvin commented on #12
Haven't heard back in a while on this one so I'm going to close it.

Aion Web3 v1.1.0 was recently released; if you are still having issues please try this guide https://learn.aion.network/v1.0/docs/deploy-a-smart-contract-using-web3.  If there's further issues feel free to open a new issue.

[2018-11-23 21:57] #12 closed, assigned to aion-kelvin

[2018-11-24 23:35] ghost commented on #57
These were the functions I was looking for. Thank You!

[2018-11-24 23:35] #57 closed, assigned to nobody

[2018-11-25 22:39] gptguy opened #59 "Cannot read property node of undefined"
**Web3 version**: 1.1.0

**Command(s) triggering the issue**: Any web3 command

**API output**:
Uncaught (in promise) TypeError: Cannot read property 'node' of undefined
    at new XMLHttpRequest [(xml-http-request.js?37da:91)](https://github.com/souldreamer/xhr2-cookies/blob/bd6d48431ad93c8073811e5d4b77394dd637a85a/xml-http-request.ts#L102)
    at HttpProvider._prepareRequest (index.js?151c:50)

[2018-11-28 04:52] sultana-mnw opened #61 "how to get v r s from signatures?"
Description: I have follow the web3 methods in this link ( https://github.com/aionnetwork/aion_web3/wiki/web3-eth-accounts ) to get signature and v r s but i only get signature not v r s.

**Web3 version**: 1.0.3

**Command(s) triggering the issue**:  web3.eth.accounts.sign(message,privatekey);

**API output**:

 {
message:
   '0x2c80807145a8a3688266c415da8a02b30ae8864180dbf23a4a43c63369a1a82d',

[2018-11-28 21:29] aion-kelvin commented on #61
Hi,

That is a mistake in the documentation... the signature is given not as (r, s), but simply as one hex string.  We will update our docs.

[2018-11-28 21:39] aion-kelvin commented on #58
Hey,

In your code snippet, I noticed that the `transaction` object does not have a `from` field.  Can you try adding that and see if it works?  The value should the address of the account you want to use to deploy the contract.  Looking at the rest of your code, if `account` is your account, then `account.address` will contain the address you need.

[2018-11-29 04:51] sultana-mnw commented on #61
Hello,
Ok. But how could I get that (v r s) from that signature.

[2018-11-29 15:10] aion-kelvin commented on #59
Thanks for the patch

[2018-11-29 15:13] aion-kelvin commented on #59
Oops, I initially misinterpreted that PR link as a PR against this repo.  I'll put it on our list to make a similar patch.

[2018-11-29 15:57] aion-kelvin commented on #61
(v, r, s) is given by Ethereum's signing scheme.  We use a different scheme (Ed25519 instead of ECDSA), which does not have (v, r, s).  May I ask what how/why you want (v, r, s)?

Edit: typo in sig scheme name

[2018-11-29 16:04] sultana-mnw commented on #61
Hello,
For some specific task to validate the signature in contract using
ecrecover keyword. For that i need a ( v r s )So how could i do that?
Is it any other methods to validate signature in contract for aion.

Regards
Sultana

On Thu, 29 Nov 2018, 9:27 pm aion-kelvin, <notifications@github.com> wrote:

[2018-11-29 16:25] aion-kelvin commented on #61
Are you signing/recovering transactions?  Or arbitrary messages?

[2018-11-29 16:31] sultana-mnw commented on #61
Am signing the transaction and also orbitary messages.

On Thu, 29 Nov 2018, 9:55 pm aion-kelvin, <notifications@github.com> wrote:

[2018-11-29 17:24] aion-kelvin commented on #61
web3.eth.accounts.recover can be used to recover the address of signatures created by web3.eth.accounts.sign.  Unfortunately, we do not support recovering the address of signed transactions right now.

API References:
https://docs.aion.network/docs/web3-eth-accounts#section-sign
https://docs.aion.network/docs/web3-eth-accounts#section-recover

(Don't use web3.eth.accounts.recover to recover a sign

[2018-11-29 19:06] hamzahayat commented on #58
Hey @aion-kelvin,

I have tried adding the `from` field within the transaction object as well. However, that did not help with the situation.

I believe the issue lies within the generation of the logs object when the `transactionReceipt` will gets generated.

[2018-12-01 01:10] hamzahayat commented on #58
I've forked the library, meddled around with the source code and written a quick fix for anyone that's interested. It's by no means a proper fix. Simply a band-aid.
The link to the changes that I've made are [here.](https://github.com/hamzahayat/aion_web3/commit/413366a06f2fb31f29ad79fa09ad2c3c21d214be)

[2018-12-01 16:45] ToJen commented on #58
Would the patch work for contract function interaction too? cc: @arjitkhullar

[2018-12-01 18:49] hamzahayat commented on #58
@aion-kelvin I'm not sure what's changed. But looks like the logs array isn't returning an address of `0x` anymore. Therefore it isn't failing the formatting checks, and the transaction receipt is being returned correctly.

I didn't change anything within my codebase, nor within `aion-web3` lol. It could have been something on nodesmiths side? I'm not sure.

Regardless, I'll close the thread.

@To

[2018-12-01 18:49] #58 closed, assigned to nobody

[2018-12-02 22:04] ToJen commented on #58
They may have made some fixes recently @hamzahayat

[2018-12-04 22:59] erik-iglikov opened #62 "sendSignedTransaction failing when calling getTransactionReceipt"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**:  1.1.0

You can find this by executing:

`npm view aion-web3-v1.0 version`

**Command(s) triggering the issue**:
Deploy a contract using `sendSignedTransaction`.
Also sometimes fails on `getTransactionReceipt`.

What are the commands you're tryin

[2018-12-04 23:36] erik-iglikov commented on #62
I found a solution https://github.com/ethereum/web3.js/pull/1735/commits/17dab677e9eaac8a98ddd436937835644ce8c6a4

[2018-12-10 23:25] aionick opened #64 "signTransaction signing a transaction with incorrect value"
@arajasek and I have confirmed that this issue seems to reside specifically in the command `web3.eth.accounts.signTransaction()`. After calling this function on a transaction with some value **x** we then took the raw encoded bytes and decoded them using the `AionTransaction` class's rlp decoding and this produced a transaction with the incorrect value **y != x.**

We should probably be patching t

[2018-12-11 19:39] aion-kelvin commented on #64
Investigated w/ Aayush.

The root of the problem is that in signTransaction, numerical fields can be provided as Javascript numbers (i.e. `123`), strings (i.e. `0xabc` or `0x123`), or BN (BigNumber).  Strings should be interpreted as decimal numbers if it does not begin with `0x`, or hex if it does.  It incorrectly interpreted them as hex all the time.

The reason for the dec/hex issue is that at

[2018-12-12 01:17] AionJayT opened #66 "getting [DEP0005] DeprecationWarning when using latest node version"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**:

v1.1

You can find this by executing:

`npm view aion-web3-v1.0 version`

**Command(s) triggering the issue**:

What are the commands you're trying to send the API? This can be the JavaScript code you're running, or just the single command that

[2018-12-12 13:32] #64 closed, assigned to aion-kelvin

[2019-01-09 10:52] aion-chris opened #68 "personal.lockAccount update require"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**: 1.1.5

You can find this by executing:

`npm view aion-web3-v1.0 version`

**Command(s) triggering the issue**: personal.lockAccount

What are the commands you're trying to send the API? This can be the JavaScript code you're running, or just the

[2019-01-14 21:00] #62 closed, assigned to erik-iglikov, aion-kelvin

[2019-02-04 20:18] aion-kelvin opened #70 "Arbitrary message signing using wrong preamble"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**: all v1.1.x and v1.0.x

You can find this by executing:

`npm view aion-web3-v1.0 version`

**Command(s) triggering the issue**:

`web3.eth.accounts.sign` and `web3.eth.accounts.hashMessage`

**API output**:

Don't have the API response, but from

[2019-02-12 04:15] Chengchcc opened #71 "unavailable for React Native"
I am experiencing a problem. I want to use aion_web3 in my react native project, but all versions are unavailable for React Native platform due to it's cookies headers resulting this error:
<img width="359" alt="51824357-ace6a880-22ea-11e9-85f3-dcca7f1de6cf" src="https://user-images.githubusercontent.com/40747098/52610767-75b4f180-2ebd-11e9-8915-2a6d8d89f31d.png">
, see [ethereum/web3.js#1802](htt

[2019-02-26 18:24] #70 closed, assigned to nobody

[2019-03-11 01:09] vikas26294 opened #73 "Cannot find module 'node-zip'"
## Bug Report Template

Please include the following information when reporting an issue you are facing while using the Aion Web3 API.

**Web3 version**:

When I use `npm view aion-web3-v1.0 version`, `1.0.3` shows up but I have `1.1.5` version installed.

**Command(s) triggering the issue**: npm start

**API output**:

<img width="1348" alt="Screen Shot 2019-03-10 at 8 52 48 PM" src="https://user

[2019-03-11 01:17] vikas26294 commented on #73
Installing `node-zip` package, fixed the issue for me. But this should be installed by `aion-web3` package.

[2019-06-24 18:53] #73 closed, assigned to nobody

[2019-07-23 10:48] #71 closed, assigned to nobody